body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.banner{
  font-size:100px;
  font-family: "Comic Sans MS";
  color:teal;
  text-align: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.friend{
  background: #fff;
  /*border: 2px solid #999;*/
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 270px;
  margin-left:225px;
  margin-right: 100px;
  margin-top: 50px;
  padding: 0;
  text-align: center;
  width: 250px;
  overflow: auto;
}

.friend:focus {
  outline: none;
}

.kbd-navigation .friend:focus {
  background: #ddd;
}
.friendster {
  display: flex;
  flex-direction: row;
}